#welcome {
    display: flex;
    justify-content: center;
    border: 3px solid goldenrod;
    padding: 20px;
    background-color: grey;
    width: auto;
}

#welcome h1 {
    text-decoration: underline black;
    color: black;
}

#logout {
    margin-right: 30px;
}

.output {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#article {
    text-align: center;
}

#interestDiv {
    display: flex;
    align-content: center;
    justify-content: center;
}

.btn {
    margin-top: 20px;
}

#editCostBtn {
    margin: 20px 10px 0px 10px;
}

.interest_card {
    border: 1px solid black;
    padding: 20px;
    background-color: goldenrod;
    margin-top: 10px;
    width: 800px;
}

.hide {
    display: none;
}

body {
    background-color: rgb(110, 138, 161);
}

#submit {
    margin-top: 10px;
}
#country_select {
    width: 170px;
}

fieldset section {
    margin-top: 20px;
}